* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-map {
  width: 50%;
  height: 25em;
  border-radius: 2em;
  overflow: hidden;
}

.app-weather-container {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding: 1em;
  border-radius: 1em;
}

.app-weather-content {
  display: flex;
  justify-content: center;
  background-color: #fff;
  flex-direction: column;
  border-radius: inherit;
  padding: 1em;
}

.app-weather-flex {
  display: flex;
}

.app-weather-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em 1em 0;
  border-right: 1px solid #000;
}

.app-weather-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 0 1em 1em;
}

.app-weather-times {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.app-weather-icon {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  background-color: rgba(74, 199, 74, 0.671);
  border-radius: 1em;
}
